@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--Declaração do modelo de dados que será utilizado naquela view específica.-->
@model List<Produto>

<!-- Cabeçalho da página -->
<h2>Produtos</h2>

<!-- Tabela para exibir a lista de produtos -->
<table class="table">
    <thead>
        <!-- Cabeçalho da tabela com colunas -->
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Preço</th>
        </tr>
    </thead>
    <tbody>
        <!-- Loop através da lista de produtos para exibir cada um -->
        @foreach (var product in Model)
        {
            <!-- Uma linha para cada produto -->
            <tr>
                <!-- Coluna para o ID do produto -->
                <td>@product.Id</td>

                <!-- Coluna para o nome do produto -->
                <td>@product.Nome</td>

                <!-- Coluna para o preço do produto, formatado como moeda -->
                <td>@product.Preco.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Produto" asp-action="Create">Novo Produto</a>
